$cor:orange;

body{
    background: $cor;
}

body .botao-primary{
    color:white;
    background: #442ad5;
}
@mixin botao {
    display: inline-block;
    border-radius:15px;    
    padding: 15px;
    border: none;    
    font-size:1.5m;
}
.botao-primary{
    @include botao;
}
.botao-danger{
    @include botao;
    background: red;
}