
.header-animado {
    $h: 300px;
    $largura_cenario:2400px;
    background-color:$main-color;
    padding-top:96px;
    margin-bottom: 0;
    padding-bottom:0;
   

    .header-animado__title{
    color:#00151a;
    font-size: 38px;
    font-weight: bold;
    }
    .header-animado__subtitle{
        color: white;
        font-size: 34px;
        font-weight: 300;
        line-height: 1.5;
    }

    &__ilustra{
        background-image:url(../imagens/cenario_all_960.png);
        height: $h/2;
        background-size:auto 100%; 
        background-position: center top;
        &>div{
            display: none;
        }
        @media screen and (min-width:480px) {
            background-image:url(../imagens/cenario_all_1530.png);
        }
        @media screen and(min-width:960px) {
            background-image: url(../imagens/cenario_bg.png);
            height: $h;
            position: relative;
            &>div{
                display: block;
                height: 100%;
                position: absolute;
                top: 0;
                left:0;
                width: $largura_cenario * 2;
            }
            
            //Criando mixin baseado na minha solução
            //@mixin anima($imagem,$segundos,$direcao){
              //  $imagem: str-slice(quote($imagem), 27,str-length(quote($imagem)));                                 
               // background-image: url(../imagens/cenario_#{$imagem}.png);
                //animation:anima_cenario #{$segundos} linear infinite #{$direcao} ;
           // }

           @mixin anima($imagem,$tipo_anima:'90s linear infinite reverse'){                                               
            background-image: url(../imagens/#{$imagem}.png);
            animation:anima_cenario #{$tipo_anima};
        }
             
            @keyframes anima_cenario {
                from{
                    transform: translateX(-50%) 
                    translateZ(0);
                }
                to{
                    transform: translateX(0%)
                     translateZ(0);

                }                
            }
            $items:(  
            nuvens:null,  
            casas:'30s linear infinite reverse',
            rua:'30s linear infinete reverse',
            carrosCima:'15s linear infinite reverse',
            carrosBaixo:'15s linear infinite'
            );

            @each $key,$valor in $items{
                @if $valor{
                    .#{$key}{
                        @include anima('cenario_#{$key}',$valor);
                    }
                
                }@else{
                   .#{$key}{
                            @include anima('cenario_#{$key}');
                                    }
                                }
                            }
            /* Usando do meu mixin
            .nuvens{
              @include anima(&,90s,'reverse')
            }
            .casas{
              @include anima(&,30s,'reverse')
            }
            .rua{
             @include anima(&,30s,'reverse')
            }
            .carrosCima{
                @include anima(&,15s,'reverse')
            }
            .carrosBaixo{
                @include anima(&,15s,null)
            } */
        }
    }
    
}


