@mixin borda-redonda{
    border-radius:10px;
}

div{
    @include borda-redonda;
}

span{
    @include borda-redonda;
}

.botao{
    padding: 15px;
}

.bota-primary{
    @extend .botao;
    background: blue;
}


.bota-danger{
    @extend .botao;
    background: red;
}