@mixin borda-redonda($raio:15px){
    border-radius:$raio;
}

div{
    @include borda-redonda;
}

span{
    @include borda-redonda(50px);
}

.botao{
    padding: 15px;
}


@function escurece($cor,$porcentagem:30%){
    @return darken($cor,$porcentagem);
}


.botao-danger{
    $bg:green;
    @extend .botao;
    background: $bg;
    &:hover{
        background: escurece($bg,10%);
    }    
}
.botao-primary{
    $bg:blue;
    @extend .botao;
    background: $bg;
    &:hover{
        background:escurece($bg)
    }
}

.menu{
    height: 0;
    &--opened{
        height: auto;
    }
}

