@charset "UTF-8";
/* Existe duas formas de escrever arquivos sass:
nomeArquivo.scss: (Sintaxe parecia com o css) 
nomeArquivo.sass (Sintaxe que utiliza tabulações) */
.header-nav {
  background-color: #84b8af; }
  .header-nav__logo {
    display: inline-block; }

.header-animado {
  background-color: #64a59a;
  height: 300px; }
